# This constructs a Git URI base like ssh://git@workplaceserver:port/
UPSTREAM_USER=git
UPSTREAM_HOST=workplaceserver
UPSTREAM_PORT=port
MY_PUBLIC_KEY=ssh-rsa AAAAoBAZe...== me@home
MY_PUBLIC_KEY2=
MY_PUBLIC_KEY3=
MY_PUBLIC_KEY4=
MY_PUBLIC_KEY5=
MY_PUBLIC_KEY6=
MY_PUBLIC_KEY7=
MY_PUBLIC_KEY8=
MY_PUBLIC_KEY9=
